
body{
    width: 10rem;
    height: 10rem; 
    flex-direction: column;
    position: relative;
    width: 400px;
}

p{
    margin-bottom: 0;
}

#empty-div{
    background:white
    
}
#learn-btn{
    position: center;
    
}
.lead{
    color: gray
}
.hide-div{
    position: absolute;;
    visibility: hidden;
    width:0;
    height:0;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top:0;
    overflow: auto;
}
ul li{
	margin: 10px;
    font-size: 16px;
    height: auto;
    border-bottom: 1px solid;
    border-bottom-color: #90e3ff;
    box-shadow: 0.3px 0 5px -2.1px rgba(0,0,0,0.5);
    cursor: pointer;
    white-space: nowrap;
    -webkit-border-radius: 10px; /* Setting cross browser rounded edges*/
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}
ul li:hover{
    background: whitesmoke;
    transform: translateX(10px);
}
.content{
    overflow: hidden;
    display: flex;

    justify-content: space-between;
    height: 100%;
}

.list-div{
    
    display: contents;

    width:20rem;
}

.list-div p{
    position: relative;
    padding-top:1em; 
    padding-left: 1.2em;
    font-size: 1.1em;
    max-width:17rem;
    overflow: hidden;
    width: 17rem;
    height: 4em;


}
.delete{
    width: 20px;
    height: 20px;
    margin-top: 1.4em;
    margin-right:1em;
    border: none;
    outline: none;
}
.icon_32{
    background: url('images/paper-clip_32.png');
    height: 32px;
    width: 32px;
    display:block;
    /* Other styles here */
}


#snackbar {
  visibility: hidden; 
  width:94%;
  position:fixed;
  margin-left: 3%;
  background-color: #90e3ff; /* Blue background color */
  color: #fff; /* White text color */
  text-align: center; 
  border-radius: 2px;
  position: fixed; 
  z-index: 1; 
  bottom: 1px;
}
	
#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.p-5 {
    padding: 1rem!important;
}
/*css --nivedita*/
.clip-icon{
    border: 1px solid black;
    padding: 6px;
    border-radius: 50%;
    width: fit-content;
}
.clip-icon:hover{
    transform: rotateZ(45deg);
}

.animated-text {
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation-duration: 3s;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#download-btn{
    float: right;
    margin-top:20px;
    cursor: pointer;

}

#search {
    margin-left: 15px !important; 
    width: 50% !important;
    margin-top: 6px; 
    height: 50px !important;
}
#searchText {
    height: 30px !important
}

.csv{
    float:left; 
    width: 22px; 
    margin-right: 1px;
}
.doc{
    float:right; 
    width: 22px; 
    margin-left: 1px;
}